.container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    background-color: #374860;
}

.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;background-color: #056968;

}