*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
    font-size: 18px;
}

.container{
    padding: 20px;
    height: 100vh;
    background-color: #eee;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: 1fr 2fr;
    gap: 5px;
}

.item{
    background-color: #fb6942;
    border-radius: 1rem;
    color: #fff;
    display: grid;
    place-items: center;
}